.app-container{
    display: flex;
    height: 100vh;
}
.content-container{
    flex-grow: 1;
    padding: 20px;
    overflow-x: hidden;
    margin-left: 85px;
    transition: margin-left 0.5s ease;
}

.sidebar:hover~.content-container{
    margin-left: 260px;
}